<% layout('/layouts/boilerplate')%>
    <main class="container mt-5 ">
        <div class="row">
            <div id="indexSpacer"></div>
        </div>
        <div class="row homeContactContainer">
            <div class="col-md-7">
                <h1 class="mt-5">
                    You can reach me at <a class="contactLink" href="mailto:ruheer@uw.edu">ruheer@uw.edu</a>.
                    <br><br>Or, find me on <br>
                    <br><a class="contactLink" href="https://www.linkedin.com/in/ruhee-rajwani-b077351ab/"
                        target="_blank" rel="noopener noreferrer">LinkedIn</a> and <a
                        href="https://github.com/RuheeRajwani" class="contactLink" target="_blank"
                        rel="noopener noreferrer">GitHub</a>
                </h1>
            </div>
        </div>
    </main>

    </body>

    </html>