<% layout('/layouts/boilerplate')%>
    <main class="container mt-5  ">
        <div class="row">
            <div id="indexSpacer"></div>
        </div>
        <div class="row homeContactContainer">
            <div class="col-md-7">
                <h1 class="mt-5">
                    I am Ruhee Rajwani,
                    a Computer Science student at the University of Washington.
                    I love technology and look forward to leveraging it to enhance the quality of life of others.
                </h1>
            </div>
        </div>
        <div class="row homeLink mt-5 homeContactContainer">
            <span class=" d-lg-flex d-none col-lg-2 ms-5">
            </span>
            <span class="col-lg-2">
                <a href="/projects">View my work</a>
            </span>

        </div>
        <div class="row mt-5">
            <h1 id="hiBlock" class="d-md-flex justify-content-end d-none">HI</h1>
        </div>
    </main>

    </body>

    </html>