<% layout('/layouts/boilerplate')%>
    <main class="container mt-5  ">
        <div class="row">
            <div id="indexSpacer"></div>
        </div>
        <div class="row homeContactContainer">
            <div class="col-md-6">
                <h1 class="mt-5">
                    I am Ruhee Rajwani,
                    a Computer Science student at the University of Washington.
                    I love technology and want to use it to help others.
                </h1>
            </div>
        </div>
        <div class="row homeLink mt-5 homeContactContainer">
            <span class="col-xl-11 ms-auto">
                <a href="/workExperience">View my work experience</a>
            </span>

        </div>
        <div class="row mt-5">
            <h1 id="hiBlock" class="d-md-flex justify-content-end d-none">HI</h1>
        </div>
    </main>

    </body>

    </html>