<% layout('/layouts/boilerplate')%>
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/GTC3Logo.jpeg">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Good Things Come in 3s
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                Objective C, Parse, Back4App, CocoaPods
                            </small>
                        </p>
                        <p class="card-text">
                            Good Things Come in 3s served as my capstone project during my time as a Meta University Software Engineering Intern. 
                            The app's primary purpose is to make choosing a restaurant easier. Currently, many people rely on Yelp to find places to eat. 
                            However, Yelp often presents pages of restaurants at a time and must include sponsors, often overwhelming users with options that may 
                            or may not fit their preferences. Good Things Come in 3s allows all users to continuously generate three restaurants at a time based 
                            on various preferences and search for restaurants by keyword. Authenticated users can also save restaurants to their profiles. 
                            The app adopts a unique scoring algorithm to sort restaurants by how closely they fit the users' preferences. By leveraging the
                             Yelp API to get restaurant data and Back4App to store user data, I created a more personalized and less overwhelming version of Yelp. </p>
                        <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1n9TbRC4mZ2EOpDROsYei91n2_DgLvtBw/view?usp=sharing">View Demo
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/twitterLogo.jpeg">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Twitter Clone
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                Objective C
                            </small>
                        </p>
                        <p class="card-text">
                            I created this application as part of the CodePath Bootcamp portion of Meta University. The Twitter clone was one of three real apps 
                            we recreated to become comfortable with Objective C and iOS development. My Twitter clone leveraged the Twitter API so users could log 
                            in to their account, view their timeline, like/unlike tweets, retweet, and compose tweets. I also utilized the Model View Controller 
                            architectural pattern to mimic Twitter’s user flow. 
                        </p>
                        <a class="btn btn-primary" target="_blank" href="https://github.com/RuheeRajwani/TwitterClone/blob/main/TwitterWalkthrough.gif">View Walkthrough
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/safeReturn.png">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            SafeReturn
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                HTML, CSS, Javascript, NodeJS, Express, SnowflakeDB, MongoDB
                            </small>
                        </p>
                        <p class="card-text">
                            This application was created as part of the Slalom EmpowHER 2021 Tech Case Consulting
                            Competition. During the two-week competition, my team and I were responsible for assisting a
                            company’s return to in-person work following the COVID-19 shutdown. I created this web app
                            that allows employees to check their return status based on their employee id and COVID test
                            results stored in SnowflakeDB. Furthermore, if employees are flagged in the database, they
                            are met with a COVID questionnaire in the app, ultimately determining their return status.
                            Following the end of the competition, I reworked the application to use MongoDB. </p>

                        <a class="btn btn-primary" target="_blank" href="<%=safeReturnLink%> ">View
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/yelpCamp.png">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            YelpCamp
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                HTML, CSS, Javascript, NodeJs, Express, Passport, MongoDB
                            </small>
                        </p>
                        <p class="card-text">
                            At the end of the Colt Steele Web Developer Bootcamp, I created YelpCamp as a final project
                            bringing together everything I had learned. This project’s purpose is to be a version of
                            Yelp specifically for campgrounds. The full-stack web application provides users with the
                            ability to login or register to create, edit, delete, and review campgrounds. Users who are
                            not logged in are only allowed to view all campgrounds. </p>

                        <a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                            href="<%=yelpCampLink%>">View
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/ascendHotFitness.png">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Ascend Hot Fitness Website
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                Weebly </small>
                        </p>
                        <p class="card-text">
                            As part of the Somerset County Summer 2020 Youth Employment program, I created a website for
                            Ascend Hot Fitness located in Hillsborough, NJ. Through working with the owner and getting a
                            friend of mine to take photos of the studio, I was able to provide the owner with a site
                            equipped with business updates, information on the studio’s services, and scheduling/booking
                            functionality. At the end of my internship, I helped the owner buy a domain and taught her
                            how to customize the site for future use.</p>

                        <a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                            href="https://ascendhotfitnessruhee.weebly.com/">View
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>