<% layout('/layouts/boilerplate')%>
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/safeReturn.png">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            SafeReturn
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                HTML, CSS, Javascript, NodeJS, Express, SnowflakeDB, MongoDB
                            </small>
                        </p>
                        <p class="card-text">
                            This application was created as part of the Slalom EmpowHER 2021 Tech Case Consulting
                            Competition. During the two-week competition, my team and I were responsible for assisting a
                            company’s return to in-person work following the COVID-19 shutdown. I created this web app
                            that allows employees to check their return status based on their employee id and COVID test
                            results stored in SnowflakeDB. Furthermore, if employees are flagged in the database, they
                            are met with a COVID questionnaire in the app, ultimately determining their return status.
                            Following the end of the competition, I reworked the application to use MongoDB. </p>

                        <a class="btn btn-primary" target="_blank" href="<%=safeReturnLink%> ">View
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="yelpCamp.png">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            YelpCamp
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                HTML, CSS, Javascript, NodeJs, Express, Passport, MongoDB
                            </small>
                        </p>
                        <p class="card-text">
                            At the end of the Colt Steele Web Developer Bootcamp, I created YelpCamp as a final project
                            bringing together everything I had learned. This project’s purpose is to be a version of
                            Yelp specifically for campgrounds. The full-stack web application provides users with the
                            ability to login or register to create, edit, delete, and review campgrounds. Users who are
                            not logged in are only allowed to view all campgrounds. </p>

                        <a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                            href="<%=yelpCampLink%>">View
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" height='100px' alt="" src="imgs/ascendHotFitness.png">

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            Ascend Hot Fitness Website
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                Weebly </small>
                        </p>
                        <p class="card-text">
                            As part of the Somerset County Summer 2020 Youth Employment program, I created a website for
                            Ascend Hot Fitness located in Hillsborough, NJ. Through working with the owner and getting a
                            friend of mine to take photos of the studio, I was able to provide the owner with a site
                            equipped with business updates, information on the studio’s services, and scheduling/booking
                            functionality. At the end of my internship, I helped the owner buy a domain and taught her
                            how to customize the site for future use. She currently uses a version of the website I
                            created to advertise her business!</p>

                        <a class="btn btn-primary" target="_blank" rel="noopener noreferrer"
                            href="https://ascendhotfitnessruhee.weebly.com/">View
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>