<% layout('/layouts/boilerplate')%>
    <main class="container mt-5 ">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-2">Paul G. Allen School of Computer Science</h5>
                <h6 class="card-subtitle mb-2">Allen School Ambassador</h6>
                <p class="card-subtitle mb-2 text-muted">Skills: Outreach, Communication, Organization</p>
                <p class="card-text">
                  As 1 of 10 students selected as an Allen School Ambassador, I led outreach initiatives aimed at increasing diversity in computing at the University of Washington. Collaborating with the Diversity/Access team, I supported and empowered students from underrepresented backgrounds by organizing information sessions, campus tours, student panels, and 1-on-1 consultations. I also developed educational resources on topics such as Diversity, Equity, and Inclusion (DEI), Introduction to Computer Science, and Post-High School Pathways for various outreach events.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-2">Google</h5>
                <h6 class="card-subtitle mb-2">Software Engineering Intern</h6>
                <p class="card-subtitle mb-2 text-muted">Languages/Technologies: Java, Android Development, Android Open Source Project</p>
                <p class="card-text">
                  As a Software Engineering Intern on the Android Platform Hardening team, I spearheaded an investigation into the use of sensitive device identifiers across Play Store apps. I implemented a new AppOp in AOSP to log accesses to 10 critical identifiers, such as MAC Address, SIM Serial Number, IMEI, and IMSI Subscriber ID. I manually validated this logging through a custom test app and developed Android CTS tests to ensure comprehensive coverage for each identifier. To gather meaningful data, I selected 10 high-profile Play Store apps (100 million to 2 billion installs each), designed 2 critical user journeys for each, and executed them to capture AppOps logs. This analysis revealed significant security and privacy vulnerabilities, driving efforts to improve user transparency and control over identifier access.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-2">Google</h5>
                <h6 class="card-subtitle mb-2">Software Engineering in Training Program Intern</h6>
                <p class="card-subtitle mb-2 text-muted">Languages/Technologies: Kotlin, TypeScript, Java </p>
                <p class="card-text">
                  As a STEP intern with Google's Commerce: Shopping Merchants team, I tackled two key projects. The first project involved standardizing the evaluation process for merchant loyalty programs. This entailed making and testing comprehensive front and backend changes in TypeScript and Kotlin, including the addition of a new field to an internal platform. 
                  In the latter part of my internship, I took charge of implementing a recommendation on Merchant Center to promote my team's new loyalty program onboarding feature. Unlike my initial project, I actively participated in this project's design and collaborated with partner teams to ensure thorough planning before the development phase. After securing approval for the project's design and timeline, I executed all code changes in Java. This recommendation held the potential to boost merchant customer acquisition rates by approximately 50%.                  
                </p>
              </div>
            </div>
          </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-2">Meta</h5>
                  <h6 class="card-subtitle mb-2">Meta University Software Engineering Intern</h6>
                  <p class="card-subtitle mb-2 text-muted">Languages/Technologies: Objective C, XCode, CocoaPods, Back4App, Parse  </p>
                  <p class="card-text">As a Meta University Software Engineering intern, I had ten weeks to learn as much
                    as I could about iOS app development. The program began with a three-week bootcamp organized by 
                    CodePath. During the three weeks, I was introduced to Objective C and iOS development for the first 
                    time and worked on three projects that mimicked Flixster, Twitter, and Instagram. For the next seven 
                    weeks, we brought our own, original app ideas to life by leveraging what we learned during 
                    bootcamp and collaborating with full-time engineers. I met with my Intern Manager and 
                    Project Peer several times a week to update them on my progress and get their feedback on my code. 
                    By the end of the 10-week program, I left with a strong understanding of iOS development, a complete 
                    application I designed and developed, and many friends and mentors</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-2">Univeristy of Washington College of Engineering</h5>
                  <h6 class="card-subtitle mb-2">Student Web Developer</h6>
                  <p class="card-subtitle mb-2 text-muted">Languages/Technologies: PHP, Valet, Laravel, Bitbucket, Git, Jira </p>
                  <p class="card-text">As a student web developer, I worked to improve various applications that my
                      peers and mentors used daily. From updating the faculty database with more inclusive language
                      and fields to upgrading filtering options and algorithms on the capstone project portal, I had
                      the unique opportunity to take my computer science knowledge outside of the classroom and apply
                      it to actual tickets within the college’s eco-system of applications. I also worked closely with
                      three full-time engineers to understand how large-scale applications are managed and gain
                      proficiency with industry tools such as Bitbucket, Jira, and Github.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">Code Ninjas</h5>
                    <h6 class="card-subtitle mb-2">Code Sensei</h6>
                    <p class="card-subtitle mb-2 text-muted">Languages/Technologies: Javascript, Scratch, HTML, CSS </p>
                    <p class="card-text"> As a Code Sensei, I had a variety of responsibilites from managing the kids and the
                    studio to answering questions and leading workshops. I organized sessions on Scratch and beginner game development for children ages 4-8,
                    helped students ages 8-14 on projects in JavaScript, and taught private lessons focused on front-end web development
                    for a variety of age groups.
                  </p>
                </div>
              </div>
            </div>
          </div>
    </main>

    </body>

    </html>
