body{
        color:#274165;
    font-family: 'Cabin', sans-serif;
}
.navbar-light .navbar-nav .nav-link{
    color:#e63946;
}
.navbar-light .navbar-nav .nav-link.active{
    color:#457b9d;
    text-decoration: underline;
    font-weight: 700; 

}
.navbar-light .navbar-brand{
    color:#e63946;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../imgs/hamburgerToggler.png");
    }

.navbar-light .navbar-brand.active{
    color:#457b9d;
    font-weight: 700;
    text-decoration: underline;
}
nav.navbar.sticky-top.navbar-expand-lg.navbar-light.scrolled{
    background-color:white;
    transition:background 500ms;
}
.homeLink a{
    color:#e63946;
    font-size:1.42rem;
}
a.contactLink{
    text-decoration: none;
}
a{
    color:#e63946;
 
}
a:hover{
    color:#457b9d;
}

#indexSpacer{
    height:50px;

}
#hiBlock{
    font-size:250px;
}
a.btn.btn-primary {
    background-color: #457b9d;
}

@media (max-width:600px){
    .homeContactContainer{ 
      margin-left:10%;
      margin-right:10%;
        }
}